<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title></title>
</head>
<body>

<div id="MyAppRoot"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.js"></script>
<script>
var componentRoot = new Vue( {

	data: function () {

		return {

			answer: null

		}

	},

	template:
		'<div>' +
			'<p>あなたはVue.jsを好きになってきている？</p>' +
			'<p>あなたが選んだ選択肢は {{ answer }}</p>' +
			'<button type="button" @click="setAnswer( true )">O</button>' +
			'<button type="button" @click="setAnswer( false )">X</button>' +
			'<div v-if="answer === true">' +
				'正解です' +
			'</div>' +
			'<div v-if="answer === false">' +
				'間違いです' +
			'</div>' +
		'</div>',

	methods: {

		setAnswer: function ( value ) {

			this.$data.answer = value;

		}

	}

} );

componentRoot.$mount( '#MyAppRoot' );
</script>

</body>
</html>
